In [2]:
import pandas as pd
from IPython.display import display, HTML

def display_side_by_side(dfs:list, captions:list):
    """Display tables side by side to save vertical space
    Input:
        dfs: list of pandas.DataFrame
        captions: list of table captions
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0"
    display(HTML(output))

# Create DataFrame from CSV

In [3]:
late_30to90_days = pd.read_csv('data/MetroAreaMortgagesPercent-30-89DaysLate-thru-2021-12.csv')
late_90plus_days = pd.read_csv('data/MetroAreaMortgagesPercent-90-plusDaysLate-thru-2021-12.csv')

## Years and Months List

In [4]:
year_month_cols = late_30to90_days.columns.difference(['RegionType','Name','CBSACode']).to_list()
print(year_month_cols)

['2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12']

# Mortgage Stats

## Data Sample

In [85]:
late_30to90_days.head()

,RegionType,Name,CBSACode,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
0,National,United States,-----,1.5,1.6,1.6,1.5,1.6,1.7,1.9,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,MetroArea,"Akron, OH",10420,1.8,1.9,1.8,1.6,1.7,1.7,1.7,...,0.7,0.7,0.6,0.7,0.7,0.7,0.7,0.6,0.7,0.6
2,MetroArea,"Albany-Schenectady-Troy, NY",10580,1.0,1.1,1.0,1.0,1.1,1.0,1.2,...,0.8,0.8,0.7,0.7,0.7,0.7,0.7,0.6,0.6,0.6
3,MetroArea,"Albuquerque, NM",10740,1.2,1.1,1.1,1.1,1.3,1.3,1.3,...,0.6,0.5,0.5,0.4,0.5,0.5,0.4,0.4,0.5,0.6
4,MetroArea,"Allentown-Bethlehem-Easton, PA-NJ",10900,1.3,1.2,1.2,1.2,1.3,1.4,1.4,...,0.7,0.7,0.7,0.7,0.8,0.8,0.8,0.7,0.7,0.8

In [20]:
late_30to90_days.dtypes

RegionType     object
Name           object
CBSACode       object
2008-01       float64
2008-02       float64
               ...
2021-08       float64
2021-09       float64
2021-10       float64
2021-11       float64
2021-12       float64
Length: 171, dtype: object

## Average percentrage deliquent from 2008-2021

### By Region

In [8]:
late_30to90_days_region = pd.DataFrame(late_30to90_days.groupby('RegionType').mean().round(2)[year_month_cols].mean(axis=1).round(2).sort_values(ascending=False))
late_90plus_days_region = pd.DataFrame(late_90plus_days.groupby('RegionType').mean().round(2)[year_month_cols].mean(axis=1).round(2).sort_values(ascending=False))

display_side_by_side([late_30to90_days_region,late_90plus_days_region],['<h2>Late 30 to 89 days</h2>','<h2>Late 90+ days</h2>'])

### By Area

In [86]:
late_30to90_days_area = pd.DataFrame(late_30to90_days.groupby(['RegionType','Name']).mean().round(2)[year_month_cols].mean(axis=1).round(2).sort_values(ascending=False))
late_90plus_days_area = pd.DataFrame(late_90plus_days.groupby(['RegionType','Name']).mean().round(2)[year_month_cols].mean(axis=1).round(2).sort_values(ascending=False))
display_side_by_side([late_30to90_days_area,late_90plus_days_area],['<h2>Late 30 to 89 days</h2>','<h2>Late 90+ days</h2>'])