In [1]:
import pandas as pd

In [2]:
late_30to90_days = pd.read_csv('data/MetroAreaMortgagesPercent-30-89DaysLate-thru-2021-12.csv')
late_90plus_days = pd.read_csv('data/MetroAreaMortgagesPercent-90-plusDaysLate-thru-2021-12.csv')

# Mortgages late by 30-89 days

In [3]:
late_30to90_days.head()

,RegionType,Name,CBSACode,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
0,National,United States,-----,3.5,3.2,3.1,3.1,3.2,3.2,3.4,...,0.8,0.6,0.7,0.7,0.8,0.8,0.8,0.9,0.8,1.0
1,MetroArea,"Akron, OH",10420,3.4,2.8,2.5,2.9,2.9,3.2,2.9,...,0.8,0.7,0.8,0.6,0.8,0.9,0.8,1.0,1.0,1.3
2,MetroArea,"Albany-Schenectady-Troy, NY",10580,3.0,2.5,2.3,2.5,2.5,2.8,2.7,...,0.8,0.6,0.6,0.6,0.7,0.8,0.7,0.9,0.9,1.1
3,MetroArea,"Albuquerque, NM",10740,3.0,2.8,2.7,2.6,2.6,2.9,3.0,...,0.7,0.6,0.6,0.6,0.9,0.9,1.0,1.1,1.1,1.3
4,MetroArea,"Allentown-Bethlehem-Easton, PA-NJ",10900,3.5,3.1,3.0,2.7,3.0,2.8,3.1,...,1.0,0.7,0.7,0.8,1.0,1.0,1.1,1.0,0.9,1.1

# Mortgages late by 90 or more days

In [4]:
late_90plus_days.head()

,RegionType,Name,CBSACode,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
0,National,United States,-----,1.5,1.6,1.6,1.5,1.6,1.7,1.9,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,MetroArea,"Akron, OH",10420,1.8,1.9,1.8,1.6,1.7,1.7,1.7,...,0.7,0.7,0.6,0.7,0.7,0.7,0.7,0.6,0.7,0.6
2,MetroArea,"Albany-Schenectady-Troy, NY",10580,1.0,1.1,1.0,1.0,1.1,1.0,1.2,...,0.8,0.8,0.7,0.7,0.7,0.7,0.7,0.6,0.6,0.6
3,MetroArea,"Albuquerque, NM",10740,1.2,1.1,1.1,1.1,1.3,1.3,1.3,...,0.6,0.5,0.5,0.4,0.5,0.5,0.4,0.4,0.5,0.6
4,MetroArea,"Allentown-Bethlehem-Easton, PA-NJ",10900,1.3,1.2,1.2,1.2,1.3,1.4,1.4,...,0.7,0.7,0.7,0.7,0.8,0.8,0.8,0.7,0.7,0.8